<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wunwan Boonsitanara">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Wunwan's Professional Website">
    <title>Wunwan</title>
    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Wunwan Boonsitanara</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>1. Carnegie Mellon University</td>
                <td>Bachelor of Science in Information Systems, with a potential double major in Human-Computer Interaction. Expected graduation: 2028.</td>
            </tr>
            <tr>
                <td>2. ScottyLabs, Tech Committee Member</td>
                <td>Responsible for the design of the CMUMaps Spring Carnival'25 edition.</td>
            </tr>
            <tr>
                <td>3. Code Genius Academy</td>
                <td>Instructed 180+ hours of activity-based coding and robotics lessons to children aged 4-12</td>
            </tr>
            <tr>
                <td>4. Panyaprateep School StuCo</td>
                <td>Organized and managed large-scale events such as Sports Day, Freshman Orientation, and a 300+ audience musical production</td>
            </tr>
        </table>
        <a href="../static/Resume25_Wunwan.pdf" target="_blank">My resume(pdf)</a>
    </div>
    <footer>© 2025 designed 🎨 and coded 👩🏻‍💻 by Wunwan Boonsitanara</footer>
    
</body>
</html>