<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Wunwan Boonsitanara" />
    <meta
      name="keywords"
      content="Carnegie Mellon University, Information Systems"
    />
    <meta name="description" content="Wunwan's Professional Website" />
    <title>Wunwan</title>
    <link rel="stylesheet" href="../static/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="../static/script.js" defer></script>
  </head>
  <body onload="addYear()">
    <script defer src="../static/script.js"></script>
    <header>
      <h1 id="webname">Wunwan Boonsitanara</h1>
      <nav>
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact Me</a>
        <a href="fun.html">For Fun</a>
      </nav>
    </header>

    <div class="mainLayout">
      <div id="item1">
        <h2>Things I love to do for fun</h2>
        <!-- <div onclick="showlist()"></div>
        <button id="SeeMoreBTN" onclick="showlist()">Click to see...</button> -->
        <ul id="FavList">
          <li>Shooting film pictures</li>
          <li>Listenign to music</li>
          <li>Playing mobile games</li>
          <li>Going for a walk</li>
        </ul>
      </div>

      <div id="item2">
        <img src="../static/fun.JPEG" alt="Fun Image" class="funIMG" />
      </div>

      <div id="item3">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/KaGEVNdPcyc?si=sxdi-wJoBKKjHF20"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
      </div>

      <div id="item4">
        <div class="container">
          <h2>Need Some Advice?</h2>
          <p id="adviceText">
            Click the button to get a random piece of advice
          </p>
          <button id="container button" onclick="getAdvice()">
            Get Advice
          </button>
        </div>
      </div>
    </div>
    <footer>
      <p id="copyYear">
        &copy; designed 🎨 and coded 👩🏻‍💻 by Wunwan Boonsitanara
      </p>
    </footer>
  </body>
</html>
