* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  padding: 5px;
  margin: 5px;
  font-variation-settings: "wdth" 100;
}

#webname {
  background-color: #d9dfff;
}
a {
  text-decoration: none;
  color: #cd5c5c;
  /* #F08080
    #F57850 */
  margin-right: 15px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ebc0e0;
  color: #5800ea;
  width: fit-content;
}
tr:nth-child(even) {
  background-color: #ecdcee;
}
form * {
  display: block;
  margin: auto;
  text-align: center;
}

#SeeMoreBTN {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

/* #FavList {
  display: none;
} */

#ValidateMsg {
  text-align: center;
}

.expand {
  display: none;
}

/* .showmore {
  display: none;
} */

.funIMG {
  border-radius: 100%;
  width: 75%;
}

.mainLayout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#item1,
#item2,
#item3,
#item4 {
  width: 40vw;
  margin: auto;
}

.container {
  display: inline-block;
  border-radius: 10%;
  box-shadow: 0 0 10px rgbs(0, 0, 0, 0.1);
}

.container button {
  padding: 10px 15px;
  border: none;
  background-color: rgb(157, 172, 246);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: #cd5c5c;
}
