* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  padding: 5px;
  margin: 5px;
  font-variation-settings: "wdth" 100;
}

#webname {
  background-color: #d9dfff;
}
a {
  text-decoration: none;
  color: #cd5c5c;
  /* #F08080
    #F57850 */
  margin-right: 15px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ebc0e0;
  color: #5800ea;
  width: fit-content;
}
tr:nth-child(even) {
  background-color: #ecdcee;
}
form * {
  display: block;
  margin: auto;
  text-align: center;
}

#SeeMoreBTN {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

#FavList {
  display: none;
}

#ValidateMsg {
  text-align: center;
}

.expand {
  display: none;
}

/* .showmore {
  display: none;
} */
